@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.text-center {
  text-align: center !important; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

html {
  font-family: 'Poppins', sans-serif; }

body {
  font-size: 1rem;
  color: #333333; }

h1, .h1 {
  font-size: 40px;
  font-weight: 700; }

h2, .h2 {
  font-size: 32px;
  font-weight: 600; }

h3, .h3 {
  font-size: 24px;
  font-weight: 600; }

p {
  font-size: 16px;
  font-weight: 400; }

a {
  color: #333333;
  text-decoration: none; }

.btn {
  border: 0;
  background-color: #fafafa;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem; }

.days-list .day a.active {
  font-size: 3rem;
  color: #222222; }

.header {
  background-color: #F4BA0D; }
  .header-content {
    height: 50vh;
    display: grid;
    place-items: center; }
    .header-content.header-content-mini {
      height: 30vh; }
  .header-title {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem; }
    @media (min-width: 48em) {
      .header-title {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3rem; } }

.navbar {
  height: 100px;
  padding: 2rem 0; }

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem; }
  @media (min-width: 62em) {
    .container {
      max-width: 900px; } }
  @media (min-width: 75em) {
    .container {
      max-width: 1200px; } }
