@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

html {
  font-family: 'Poppins', sans-serif; }

body {
  font-size: 1rem;
  color: #333333; }

.header {
  background-color: #F4BA0D; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
