.form{
            
    &-group {
        display: block;
        position: relative;
        margin-bottom: 1.2rem;
    }

    &-control{
        padding: .8rem 1rem;
        border-radius: calc(#{$input-border-radius} / 2);
        display: block;
        border: 1px solid rgba(black, .1);
        width: 30%;
    }
}
// form > .add-meal{
//     margin-top: 1rem;
//     display: block;
// }
// form > button[type=submit]{
//     margin-top: 3rem;
// }