.form{
            
    &-group {
        display: block;
        position: relative;

        &-inline{
            display: flex;
            gap: 1.5rem;
            margin-bottom: 1rem;
        }
        
       
    }

    &-control{
        padding: .8rem 1rem;
        border-radius: calc(#{$input-border-radius} / 2);
        display: block;
        border: 1px solid rgba(black, .1);
    }
}
form > .add-meal{
    margin-top: 1rem;
    display: block;
}
form > button[type=submit]{
    margin-top: 3rem;
}