.form{
            
    &-group {
        display: block;
        margin: 3rem 2rem;
        position: relative;

        &-inline{
            display: flex;
        }
        
       
    }

    &-control{
        padding: .5rem 1rem;
    }
}