html{
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 1rem;
    color: $gray-1;
}

h1, .h1{
    font-size: $h1-font-size;
    font-weight: 700;
}

h2, .h2{
    font-size: $h2-font-size;
    font-weight: 600;
}

h3 , .h3{
    font-size: $h3-font-size;
    font-weight: 600;
}

p{
    font-size: $font-size-base;
    font-weight: 400;
}

a{
    color: $gray-1;
    text-decoration: none;
}