// font
$font-size-base :    16px;

$h1-font-size:      $font-size-base * 2.5;
$h2-font-size:      $font-size-base * 2;
$h3-font-size:      $font-size-base * 1.5;

// color

$primary:           #F4BA0D;
$secondary:         #2B1E28;
$white:             #ffffff;
$light:             #fafafa;
$black:             #222222;

$gray-1:            #333333;


// nav
$navbar-height:     100px;

$header-height:     50vh;
$header-height-mini: 30vh;

// button/ input

$input-padding-x:       1.5rem;
$input-padding-y:       1rem;
$input-border-radius:   .5rem;

